<%= render 'common/navbar' %>

<div class="jumbotron">
	<div class="panel panel-primary">
  <!-- Default panel contents -->
 		 <div class="panel-heading">Edit Product</div>
  			<div class="panel-body">
  				<%= render 'product_form' %>
			</div>
		</div>
	</div>
</div>

